@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
  background: linear-gradient(10000deg, #00bfff, #ff4c69, #ef8172);
  display: block;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button_class {
  display: flex;
  justify-content: center;
  margin-top: 5%;

}

button {
  width: 30%;
  height: 100%;
  font-size: xx-large;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  
}

p {
  font-size: xx-large;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

svg {
  justify-content: center;
}
